/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Georgia, serif;
  background-color: #ebf2fa;
}
h2 {
  color: #064789;
}
button {
  text-transform: capitalize;
  color: #427aa1;
}
::placeholder {
  color: #427aa1;
}
